<p>political-competitors works!</p>
<p>
    Competitors in the political scorecard are arbitrary entities that compete with one another politically
    to propose solutions to issues.  The primary use for this is to analyze policy and it's implementation, 
    the secondary use of this is to analyze the performance and products of businesses against one another.
    
    These are explicitly declared political groups which people may choose to associate with ideologically,
    and by choosing to do so, their political categorization choices, scoring weighting, etc, may become aggregated
    according to that choice of association.
</p>