<p>political-competitors works!</p>
<p>
    Competitors in the political scorecard are arbitrary entities that compete with one another politically
    to propose solutions to issues.  The primary use for this is to analyze policy and it's implementation, 
    the secondary use of this is to analyze the performance and products of businesses against one another.
    
    These are explicitly declared political groups which people may choose to associate with ideologically,
    and by choosing to do so, their political categorization choices, scoring weighting, etc, may become aggregated
    according to that choice of association.
</p>
<p>
    Independents/Individual Citizens acting as Political Competitors can Draft Policies and Contribute to Policies being Developed
</p>
<p>
    Political Parties can have individuals in their party assert their individual actions as Political Competitors to be
    associated with the Political Party as a whole.
</p>