<p>policy-scoring works!</p>
<p>
    Policy Scoring is specifically for policy being developed.  
    
    We are analyzing based on a historical decision of 'how we decided something
    was going to be done' against 'how we actually did it'.  For historical policy this can only be done speculatively for critiquing purposes
    or to try and understand how people 'may have understood how to avoid problems using data' if they knew it at the time.

    If we develop from scratch using a scorecard based approach, we establish an exact intent from the beginning which makes it concrete
    how to measure performance and over what timeframe it should be measured, and what kind of actions would directly counteract it's performance.

</p>